<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Contacts</h1>
    
    {% for contact in contacts %}
    <p><strong>{{ contact.name }}</strong></p>
    <p><i>{{ contact.email }}</i></p>
    <form method="GET" action="edit/{{ contact.id }}"><input type="submit" value="Edit"></form>
    {% endfor %}
    
    <form method="GET" action="{% url 'add_contact' %}"><input type="submit" value="Add Contact"></form>
    
    

</body>
</html>